/* this
is a 
block comment.
*/

// this is a normal comment

var yolo = 123 * 2

/* the lexer should not be able to detect anything besides what's on the next and previous line*/
/* /* /* test */ */ */

print "hello, world!"
